<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Unicorn Admin</title>
		<meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<link rel="stylesheet" href="css/bootstrap-responsive.min.css" />
		<link rel="stylesheet" href="css/uniform.css" />
		<link rel="stylesheet" href="css/select2.css" />		
		<link rel="stylesheet" href="css/fullcalendar.css" />
		<link rel="stylesheet" href="css/unicorn.main.css" />
		<link rel="stylesheet" href="css/unicorn.grey.css" class="skin-color" />	
		<script src="js/angular.min.js"></script>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>
	
	<body  ng-app="myApp" ng-controller="userCtrl">
		
		
		<div id="header">
			<h1><a href="./dashboard.html">Unicorn Admin</a></h1>		
		</div>
		
		<div id="search">
			<input type="text" placeholder="Search here..." /><button type="submit" class="tip-right" title="Search"><i class="icon-search icon-white"></i></button>
		</div>
		<div id="user-nav" class="navbar navbar-inverse">
            <ul class="nav btn-group">
                <li class="btn btn-inverse"><a title="" href="#"><i class="icon icon-user"></i> <span class="text">Profile</span></a></li>
                <li class="btn btn-inverse dropdown" id="menu-messages"><a href="#" data-toggle="dropdown" data-target="#menu-messages" class="dropdown-toggle"><i class="icon icon-envelope"></i> <span class="text">Messages</span> <span class="label label-important">5</span> <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a class="sAdd" title="" href="#">new message</a></li>
                        <li><a class="sInbox" title="" href="#">inbox</a></li>
                        <li><a class="sOutbox" title="" href="#">outbox</a></li>
                        <li><a class="sTrash" title="" href="#">trash</a></li>
                    </ul>
                </li>
                <li class="btn btn-inverse"><a title="" href="#"><i class="icon icon-cog"></i> <span class="text">Settings</span></a></li>
                <li class="btn btn-inverse"><a title="" href="login.html"><i class="icon icon-share-alt"></i> <span class="text">Logout</span></a></li>
            </ul>
        </div>
            
		<div id="sidebar">
			<a href="#" class="visible-phone"><i class="icon icon-th-list"></i>用户</a>
			<ul>
				<li class="active"><a href="index.html"><i class="icon icon-home"></i> <span>Dashboard</span></a></li>
				<li class="submenu">
					<a href="#"><i class="icon icon-th-list"></i> <span>Form elements</span> <span class="label">3</span></a>
					<ul>
						<li><a href="form-common.html">Common elements</a></li>
						<li><a href="form-validation.html">Validation</a></li>
						<li><a href="form-wizard.html">Wizard</a></li>
					</ul>
				</li>
				<li><a href="buttons.html"><i class="icon icon-tint"></i> <span>Buttons &amp; icons</span></a></li>
				<li><a href="interface.html"><i class="icon icon-pencil"></i> <span>Interface elements</span></a></li>
				<li><a href="tables.html"><i class="icon icon-th"></i> <span>Tables</span></a></li>
				<li><a href="usrlist.html"><i class="icon icon-th"></i> <span>usrs</span></a></li>
				<li class="submenu">
					<a href="#"><i class="icon icon-file"></i> <span>用户管理</span> <span class="label">3</span></a>
					<ul>
						<li><a href="usrlist.html">用户查询</a></li>
						<li><a href="add.html">新增</a></li>
						<li><a href="modify.html">修改</a></li>
					</ul>
				</li>
				<li class="submenu">
					<a href="#"><i class="icon icon-file"></i> <span>发版管理</span> <span class="label">3</span></a>
					<ul>
						<li><a href="envir.html">Envir</a></li>
						<li><a href="schedule.html">schedule</a></li>
						<li><a href="uploadRcrd.html">UploadRcrd</a></li>
					</ul>
				</li>
				<li><a href="grid.html"><i class="icon icon-th-list"></i> <span>Grid Layout</span></a></li>
				<li class="submenu">
					<a href="#"><i class="icon icon-file"></i> <span>Sample pages</span> <span class="label">4</span></a>
					<ul>
						<li><a href="invoice.html">Invoice</a></li>
						<li><a href="chat.html">Support chat</a></li>
						<li><a href="calendar.html">Calendar</a></li>
						<li><a href="gallery.html">Gallery</a></li>
					</ul>
				</li>
				<li>
					<a href="charts.html"><i class="icon icon-signal"></i> <span>Charts &amp; graphs</span></a>
				</li>
				<li>
					<a href="widgets.html"><i class="icon icon-inbox"></i> <span>Widgets</span></a>
				</li>
			</ul>
		</div>
		
		<div id="style-switcher">
			<i class="icon-arrow-left icon-white"></i>
			<span>Style:</span>
			<a href="#grey" style="background-color: #555555;border-color: #aaaaaa;"></a>
			<a href="#blue" style="background-color: #2D2F57;"></a>
			<a href="#red" style="background-color: #673232;"></a>
		</div>
		
		<div id="content" >
			<div id="content-header">
				<h1>用户管理</h1>
				<div class="btn-group">
					<a class="btn btn-large tip-bottom" title="Manage Files"><i class="icon-file"></i></a>
					<a class="btn btn-large tip-bottom" title="Manage Users"><i class="icon-user"></i></a>
					<a class="btn btn-large tip-bottom" title="Manage Comments"><i class="icon-comment"></i><span class="label label-important">5</span></a>
					<a class="btn btn-large tip-bottom" title="Manage Orders"><i class="icon-shopping-cart"></i></a>
				</div>
			</div>
			<div id="breadcrumb">
				<a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> 首页</a>
				<a href="#" class="current">用户</a>
			</div>
			<div class="container-fluid">
				<div class="row-fluid">
					<div class="span12">
						<div class="widget-box">
							<div class="widget-title">
								<span class="icon">
									<i class="icon-th"></i>
								</span>
								<h5>用户列表</h5>
								
							</div>
							<div class="widget-content nopadding">
								<table  class="table table-bordered table-striped">
									<thead>
										<tr>
											<th>用户名</th>
											<th>密码</th>
											<th>用户id</th>
											<th>索引</th>
											<th>操作</th>
										</tr>
									</thead>
									<tbody  >
										<tr ng-repeat="usr in usrList">
										<th>{{usr.usrName}}</th>
										<th>{{usr.usrPassword}}</th>
										<th>{{usr.userId}}</th>
										<th>{{usr.id}}</th>
										<th><button class="btn" ng-click="delUser(usr.id)">
								          <span class="glyphicon glyphicon-pencil"></span>删除
								        </button>
								        <button class="btn" ng-click="editUser(usr.id)">
								          <span class="glyphicon glyphicon-pencil"></span>修改
								        </button>
								        </th>
										</tr>
									</tbody>
								</table>	
								<hr>
								<button class="btn btn-success" ng-click="editUser('new')">
								<span class="glyphicon glyphicon-user"></span>创建新用户
								</button>
								<hr>
							</div>
						</div>	
					</div>
				</div>
				
				<div class="row-fluid">
					<div id="footer" class="span12">
						2018 &copy; Unicorn Admin. Brought to you by <a href="https://wrapbootstrap.com/user/diablo9983">fanjia</a>
					</div>
				</div>
			</div>
		</div>
		
		
            
            <script src="js/jquery.min.js"></script>
            <script src="js/jquery.ui.custom.js"></script>
            <script src="js/bootstrap.min.js"></script>
            <script src="js/jquery.uniform.js"></script>
            <script src="js/select2.min.js"></script>
            <script src="js/jquery.dataTables.min.js"></script>
            <script src="js/unicorn.js"></script>
            <script src="js/unicorn.tables.js"></script>
            <script>
           angular.module('myApp', []).controller('userCtrl', function($scope, $http) {


 			$scope.url = "http://localhost:8088/demo/login/listusr";
            $http({method:"POST",url:$scope.url}).success(function (data) {
                $scope.usrList = data.usrList;
                $scope.$apply();
            });
			$scope.editUser = function(id) {
			  if (id == 'new') {
			    window.location.href="add.html";
			    } else {
			    window.location.href="modify.html";
			  }
			}
			
			});

</script>
	</body>
</html>
